# OSX system files
.DS_Store
.AppleDouble
.LSOverride

# OSX thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows folder config file
Desktop.ini

# Virtual environment for local development
local-dev-env/*
