<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rilakkuma Store</title>

        <link rel="stylesheet" href="/css/metro-bootstrap.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header id="store-nav" class="navbar navbar-default container">
            <a href="/"><h2 id="store-title" class="navbar-header">Rilakkuma Store</h2></a>
        </header>

        <div id="page-body" class="container">{{{body}}}</div>

        <!-- javascript libraries -->
        <script src="/lib/jquery-2.1.3.min.js"></script>
        <script src="/lib/bootstrap.min.js"></script>
        <script src="/lib/ui.checkout.js"></script>
    </body>
</html>