<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-danger">Page Not Found</h1>

            <h3>You may want to:</h3>
            <a href="/" class="btn btn-success">Return to Store</a>
        </div>
    </div>
</div>
