<!-- products -->
<section class="col-sm-10">
    <ol id="navigation-menu" class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Rilakkuma</li>
    </ol>

    <ul class="product-list">
        <li>
            <div class="product-list-image">
                <a href="/product/1"><img src="/images/products/samples/RLK3167_L.jpg" /></a>
            </div>
            <div class="product-list-info">
                <div class="product-list-name"><a href="/product/1">Prod 1</a></div>
                $33.3
                <button type="button" class="btn btn-sm btn-primary" name="addToCart">Add</button>
            </div>
        </li>
        <li>
            <div class="product-list-image">
                <a href="/product/2"><img src="/images/products/samples/RLK3169_L.jpg" /></a>
            </div>
            <div class="product-list-info">
                <div class="product-list-name"><a href="/product/2">Prod 2</a></div>
                $23.1
                <button type="button" class="btn btn-sm btn-primary" name="addToCart">Add</button>
            </div>
        </li>
        <li>
            <div class="product-list-image">
                <a href="/product/3"><img src="/images/products/samples/RLK4159_L.jpg" /></a>
            </div>
            <div class="product-list-info">
                <div class="product-list-name"><a href="/product/3">Prod 3</a></div>
                $63.4
                <button type="button" class="btn btn-sm btn-primary" name="addToCart">Add</button>
            </div>
        </li>
        <li>
            <div class="product-list-image">
                <a href="/product/4"><img src="/images/products/samples/RLK4160_L.jpg" />
            </div>
            <div class="product-list-info">
                <div class="product-list-name"><a href="/product/4">Prod 4</a></div>
                $26.1
                <button type="button" class="btn btn-sm btn-primary" name="addToCart">Add</button>
            </div>
        </li>
        <li>
            <div class="product-list-image">
                <a href="/product/5"><img src="/images/products/samples/RLK4177_L.jpg" />
            </div>
            <div class="product-list-info">
                <div class="product-list-name"><a href="/product/5">Prod 5</a></div>
                $62.5
                <button type="button" class="btn btn-sm btn-primary" name="addToCart">Add</button>
            </div>
        </li>
    </ul>
</section>