<!-- products -->
<section class="col-sm-10">
    <ol id="navigation-menu" class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/catalog/rilakkuma">Rilakkuma</a></li>
        <li class="active">Prod 1</li>
    </ol>

    <section class="product-detail-image">
        <img src="/images/products/RLK4159_L.jpg" />
    </section>
    <section class="product-detail-description">
        <h2>Prod 3</h2>
        <h4>
            $63.4
            <button type="button" class="btn btn-sm btn-primary" name="addToCart">Add</button>
        </h4>
        <article>Some more descriptions here...</article>
    </section>
</section>